  /* BreedSelect css*/

.breed_stk{
    border-top: 1px solid rgb(177, 169, 169);
    padding: 16px 0 24px;
  }
  
  .breed_stk .stk_form .stk_cus {
    width: 65.6%;
    margin-left: 10px;
  }
  
  .breed_stk .stk_form .stk_cus option:first-letter {
    text-transform: capitalize;
  }
  
  @media (min-width: 960px) {
    .breed_stk .stk_form .stk_cus {
      width: 30%;
    }
  }

  /* FeaturedImage css*/

  
.stk_feature {
  text-align: center;
  background-color: rgb(139, 138, 138);
}

.stk_feature img {
  width: 50%;
}

@media (max-width: 960px) {
  .stk_feature img {
    width: 50%;
  }
}

 /* Header css*/
 .stk_heading {
   
    background-color: rgb(139, 138, 138) ;
  }
  
  .stk_heading1 {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  
  .stk_heading1 .head2:first-letter {
    text-transform: capitalize;
  }
  
  .stk_subheading {
    margin-top: 10px;
  }
 
  /* ImageGrid css*/ 

  
.stk_image_stk {
    background-color: rgb(139, 138, 138);
    border: 1px solid #000;
    clear: left;
  }
  
  .stk_image_stk .stk_case{
    width: 26.9%;
    height: 100px;
    float: left;
    margin: 0 10px 20px;
  }
  
  .stk_image_stk .stk_case img {
    height: 100%;
  }
  
  @media (max-width: 960px) {
    .stk_image_stk .stk_case {
      width: 21.9%;
    }
  }
