  /* BreedSelect css*/

.breed-s1{
    border-top: 1px solid #C1C1C1;
    padding: 16px 0 24px;
  }
  
  .breed-s1 .form1 .custom-s1 {
    width: 65.6%;
    margin-left: 10px;
  }
  
  .breed-s1 .form1 .custom-s1 option:first-letter {
    text-transform: capitalize;
  }
  
  @media (min-width: 960px) {
    .breed-s1 .form1 .custom-s1 {
      width: 30%;
    }
  }

  /* FeaturedImage css*/

  
.featured_img1 {
  text-align: center;
  background-color: #CFCFCF;
}

.featured_img1 img {
  width: 50%;
}

@media (max-width: 960px) {
  .featured_img1 img {
    width: 50%;
  }
}

 /* Header css*/
 .head1 {
   
    background-color: #CFCFCF ;
  }
  
  .headerh1 {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  
  .headerh1 .head2:first-letter {
    text-transform: capitalize;
  }
  
  .head_sub {
    margin-top: 10px;
  }
 
  /* ImageGrid css*/ 

  
.image3 {
    background-color: #CFCFCF;
    border: 1px solid #000;
    clear: left;
  }
  
  .image3 .cc{
    width: 26.9%;
    height: 100px;
    float: left;
    margin: 0 10px 20px;
  }
  
  .image3 .cc img {
    height: 100%;
  }
  
  @media (max-width: 960px) {
    .image3 .cc {
      width: 21.9%;
    }
  }
